h1 { color:red; }
.login-form { width: 380px !important;}

/* Home.html */

#tweet { width: 400px; }

.header { width:100%; background-color:gray; }

.header-list { display:block; width:400px; margin:0 auto; }
