{% load static from staticfiles %}
<!DOCTYPE HTML>
<title>Garuda | DBMS</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
<h1>
  Garuda - The College Based Twitter.
</h1>

<p>
  Garuda is a Blogging + Networking Site for the University Students .
  <br>
  Inspired from both Facebook and Twitter , Garuda allows you to 'tweet' your thoughts and at same time, users can form groups for an even better experience.
</p>

</html>