{% load static from staticfiles %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");
    
    $.ajax({
      type:"POST",
      url:"/post_tweet/",
      data:{
        'tweet_value':$('#tweet').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            console.log('tweet');
            //window.location.replace("/home/");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<body>
  <div class="header">
    <ul class="header-list">
      <a href="/home/" class="header-link">Home</a>
      <a href="/followers/" class="header-link">My Followers</a>
      <a href="/following/" class="header-link">Following</a>
      <a href="/mytweets/" class="header-link">My Tweets</a>
      <a href="/logout/" class="header-link">Logout</a>
    </ul>
  </div>
  <h1>Welcome</h1>
  <h2>Here are the people you follow</h2>
  <div id="main-container">
      <div id="users">
          <!-- A for loop which shows all the tweets of the user-->
          {% if following_list %}
            {% for following in following_list %}
            <p>
              {{ following.following_id }} has name {{ following.user_name }} and handle {{ following.user_handle }}
            </p>
            {% endfor %}
          {% else %}
            <p>
              Looks like you dont follow anyone
            </p>
          {% endif %}

      </div>
  </div>
</body>
</html>
<!--
    Each time a tweet will be posted, the page should reload,
-->
