{% load static from staticfiles %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");
    
    $.ajax({
      type:"POST",
      url:"/post_tweet/",
      data:{
        'tweet_value':$('#tweet').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            console.log('tweet');
            //window.location.replace("/home/");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<body>
  <div class="header">
    <ul class="header-list">
      <a href="/home/" class="header-link">Home</a>
      <a href="/followers/" class="header-link">My Followers</a>
      <a href="/following/" class="header-link">Following</a>
      <a href="/mytweets/" class="header-link">My Tweets</a>
      <a href="/logout/" class="header-link">Logout</a>
    </ul>
  </div>
  <h1>Welcome</h1>
  <p>
    Your user details are - 
    <br>
    Your handle is {{ user_handle }}
    <br>
    Your email is {{ user_email }}
  </p>
  <div id="tweet-container">
      <textarea id="tweet" placeholder="Your Tweet Here ..." class="form-control" rows="4"></textarea> <!-- Make it fixed rows and columns -->
      <button onclick="submit_form()">Submit</button>
      <div id="user-tweets">
          <!-- A for loop which shows all the tweets of the user-->
          {% for tweet in tweets %}
          <p>
            {{ tweet.tweet_value }}
            <input type="text" placeholder="{{ tweet.post_time }}" />
          </p>
          {% endfor %}
      </div>
  </div>
</body>
</html>
<!--
    Each time a tweet will be posted, the page should reload,
-->
