{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
  <title>Garuda | Login</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
</head>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");
    
    $.ajax({
      type:"POST",
      url:"/loginuser/",
      data:{
        'user_email':$('#user-email').val(),
        'user_password':$('#user-password').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            console.log('redirect below');
            window.location.replace("/home/");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<body>
  <h1>Please Enter you details</h1>
  <!-- <form  method="post"> -->
  <!-- ADD E.PREVENT DEFAULT STUFF AND REVERT IT BACK AS
  A FORM  -->
    {% csrf_token %}
    <input type="email" name="user_email" placeholder="Email" class="form-group has-success has-feedback form-control login-form" id="user-email">
    <input type="password" name="user_password" placeholder="Password" class="form-group has-success has-feedback form-control login-form" id="user-password">
    <button onclick="submit_form()">Submit</button>
  <!-- </form> -->
  <div id='signup'>
    <button><a href="/signup">Click Here</a></button> to sign up!
  </div>
</body>