{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
  <title>Garuda | Login</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
</head>
<script type="text/javascript">
  
  // Add validations in javascript only, no need to do them in the backend




  function submit_form () {
    $.ajax({
      type:"POST",
      url:"/signupuser/",
      data:{
        'user_name':$('#user-name').val(),
        'user_email':$('#user-email').val(),
        'user_password':$('#user-password').val(),
        'user_handle':$('#user-handle').val(),
        'user_bio':$('#user-bio').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            window.location.replace("/home/");
          } else {
            console.log("Some Problem with database entry");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<body>
  <h1>Signup Page<br>Please Enter you details</h1>
  <!-- <form  method="post"> -->
  <!-- ADD E.PREVENT DEFAULT STUFF AND REVERT IT BACK AS
  A FORM  -->
    {% csrf_token %}
    <input type="text" name="user_name" placeholder="Name" class="form-group has-success has-feedback form-control login-form" id="user-name">
    <input type="email" name="user_email" placeholder="Email" class="form-group has-success has-feedback form-control login-form" id="user-email">
    <input type="password" name="user_password" placeholder="Password" class="form-group has-success has-feedback form-control login-form" id="user-password">
    <input type="text" name="user_handle" placeholder="Handle" class="form-group has-success has-feedback form-control login-form" id="user-handle">
    <input type="textarea" name="user_bio" placeholder="Tell us about yourself" class="form-group has-success has-feedback form-control login-form" id="user-bio">
    <button onclick="submit_form()">Submit</button>
  <!-- </form> -->
</body>